<div class="column gap-1 wrapper">
  <img [src]="product.image" alt="Product thumbnail" />
  <h2 class="title">{{ product.name | truncateName : 16 : "..." }}</h2>

  <div class="row gap-05">
    <span class="price-label">Price: </span>
    <span class="price">{{ product.price | price }}</span>
  </div>

  <p-rating
    [(ngModel)]="product.rating"
    [readonly]="true"
    iconCancelClass="hidden"
  />

  <div class="row gap-05">
    <button
      type="button"
      pButton
      icon="pi pi-pencil"
      label="Edit"
      size="small"
      (click)="editProduct()"
    ></button>

    <button
      type="button"
      pButton
      icon="pi pi-trash"
      label="Delete"
      size="small"
      severity="danger"
      (click)="confirmDeleteProduct()"
      #deleteButton
    ></button>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
